<%- include('../shared/header.ejs') %>
    <main>
      <h2>About The Butterfly Interest List</h2>
      <p>
	    Hello! My name is Samantha Kukuk and my CVTC username is skukuk1. 
		Here is the link to my GitHub <a href="https://github.com/it-sd/sqc-project-skukuk1">project</a>.
	  </p><br>
      <h3>Description of The Butterfly List</h3>
      <p>
        Have you ever wanted to combine multiple different lists into one? 
	    Do you have a large collection of things to keep track of? 
	    The Butterfly Interest List is for you if you answered yes to either of these questions. 
	    Here at The Butterfly List, we want you to be able to create a list from your input that can be stored and cached locally. 
	    Another feature we plan to add is pulling data from other sites and databases. 
	    So if you aren't quite sure if you want to add your own items, don't worry. 
	    We can't wait for you to use our site!
      </p>
    </main>
<%- include('../shared/footer.ejs') %>
