<%- include('../shared/header.ejs') %>
    <main>
      <h2>About The Butterfly Interest List:</h2>
	  <h3>About Me</h2>
      <p>
	    Hello! My name is Samantha Kukuk and my CVTC username is skukuk1. 
		Here is the link to my GitHub <a href="https://github.com/it-sd/sqc-project-skukuk1">project</a>.
	  </p><br>
	  <h3>Our Mission</h3>
      <p>
	    Do you have a large collection of things to keep track of?
		Have you ever wanted to combine multiple lists in one place?
		If you answered yes to either of these questions, The Butterfly Interest List is for you.
      </p>
	  <p>
		Here at The Butterfly Interest List, you will be able to create a list from your own input that can be stored and cached locally.
		Another feature we plan to add is pulling data from other sites and databases.
        So if you aren't quite sure if you want to add your own items, don't worry.
	  </p>
	  <p>
		We can't wait for you to use our site. Enjoy your visit!
      </p>
    </main>
<%- include('../shared/footer.ejs') %>
