<%- include('../shared/header.ejs') %>
    <main>
      <h2>The Butterfly Interest List - Add Anime Page</h2>
	  <div>
		<h3>New Anime</h3>
	    <p><em>Note: items with "*" are required and you will be met with "Server error" if you don't fill them out.</em></p>
		<form id='newAnimeForm'>
		  <label for='animeNameInput'>*Anime name: </label>
          <input type='text' name='anime_name' id='animeNameInput'>

		  <label for='studioInput'>Studio: </label>
          <input type='text' name='studio' id='studioInput'>

		  <div>
            <label for='genreInput'>Genre: </label>
            <select id='genreInput' name='genre' multiple>
              <option disabled selected value label='Add an option'></option>
              <option value='Action'>Action</option>
              <option value='Comedy'>Comedy</option>
              <option value='Crime'>Crime</option>
              <option value='Documentary'>Documentary</option>
              <option value='Drama'>Drama</option>
              <option value='Fantasy'>Fantasy</option>
              <option value='Historical'>Historical</option>
              <option value='Horror'>Horror</option>
              <option value='Musical'>Musical</option>
              <option value='Mystery'>Mystery</option>
              <option value='Reality Tv'>Reality TV</option>
              <option value='Romance'>Romance</option>
              <option value='Romantic Comedy'>Romantic Comedy</option>
              <option value='Science Fiction'>Science Fiction</option>
              <option value='Thriller'>Thriller</option>
              <option value='Western'>Western</option>
            </select>
          </div><br>
		  
		  <label for='personalRatingInput'>Personal rating: </label>
          <input type='text' name='personal_rating' id='personalRatingInput'>

		  <label for='synopsisInput'>Synopsis: </label>
          <input type='text' name='synopsis' id='synopsisInput'>
		  
		  <input type='submit' id='newAnimeSubmit'>
        </form>
      </div>
    </main>
</body>
<script>
  const animeForm = document.getElementById('newAnimeForm')

  const animeName = document.getElementById('animeNameInput')
  const animeStudio = document.getElementById('studioInput')
  const animeGenre = document.getElementById('genreInput')
  const animePersonalRating = document.getElementById('personalRatingInput')
  const animeSynopsis = document.getElementById('synopsisInput')
  const submitAnimeButton = document.getElementById('newAnimeSubmit')

  const submitAnime = async function(event) {
    event.preventDefault();
	
	animeForm.innerHTML = 'Please wait'
	
	const ani = animeName.value
    const stu = animeStudio.value
    const gen = animeGenre.value
    const per = animePersonalRating.value
    const syn = animeSynopsis.value

    const anime = {
      animeName: ani,
      animeStudio: stu,
      genre: gen,
      rating: per,
      synopsis: syn
    }

    console.log(anime);

    const response = await fetch('/newAnime', {
      method: 'POST',
        headers: {
          Accept: 'application/json',
          'Content-Type': 'application/json'
        },
      body: JSON.stringify(anime)
    })
    
    if (response.ok) {
      const result = await response.json()
      if (result.ok) {
        animeForm.innerHTML = `Anime added successfully!`
        return
      }
    }
	
    animeForm.innerHTML = 'Server error'
  }
  
  document.getElementById('newAnimeSubmit').addEventListener('click', submitAnime);
</script>
<%- include('../shared/footer.ejs') %>