<%- include('../shared/header.ejs') %>
    <main>
      <h2>The Butterfly Interest List - Add Anime Page</h2>
	  <div>
	    <h3>New Anime</h3>
	    <form id="newAnimeForm">
		  <label for="animeNameInput">Anime name: </label>
          <input type="text" name="anime_name" id="animeName">

		  <label for="studioInput">Studio: </label>
          <input type="text" name="studio" id="studio">

		  <label for="genreInput">Genre: </label>
          <input type="text" name="genre" id="genre">
		  
		  <label for="personalRatingInput">Personal rating: </label>
          <input type="text" name="personal_rating" id="personalRating">

		  <label for="synopsisInput">Synopsis: </label>
          <input type="text" name="synopsis" id="synopsis">
		  
		  <input type="submit" id="newAnimeSubmit">
        </form>
      </div>
    </main>
</body>
<script>
  const submitAnime = function(event) {
    event.preventDefault();
    const animeName = document.getElementsByName("animeNameInput");
	const studio = document.getElementsByName("studioInput");
	const genre = document.getElementsByName("genreInput");
	const personalRating = document.getElementsByName("personalRatingInput");
	const synopsis = document.getElementsByName("synopsisInput");

    const anime = {
      animeName: animeName,
	  studio: studio,
	  genre: genre,
	  personalRating: personalRating,
	  synopsis: synopsis
    }

    console.log(anime);

    const res = fetch("/newAnime", {
      method: "POST",
      headers: {
        "Content-Type": "application/json"
      },
      body: JSON.stringify(anime)
    })
    if (res.ok) {
      document.getElementById("newAnimeForm").innerHTML = "Anime added successfully.";
    } else {
      document.getElementById("newAnimeForm").innerHTML = "Anime not added. Please try again.";
    }
  }
  document.getElementById("newAnimeSubmit").addEventListener("click", submitAnime);
</script>
<%- include('../shared/footer.ejs') %>