<%- include('../shared/header.ejs') %>
    <main>
      <h2>The Butterfly Interest List - Add Manga Page</h2>
	  <div>
	    <h3>New Manga</h3>
		<p><em>Note: items with "*" are required and you will be met with "Server error" if you don't fill them out.</em></p>
	    <form id='newMangaForm'>
		  <label for='mangaNameInput'>*Manga name: </label>
          <input type='text' name='manga_name' id='mangaNameInput'>

		  <label for='authorInput'>Author: </label>
          <input type='text' name='author' id='authorInput'>

		  <div>
            <label for='genreInput'>Genre: </label>
            <select id='genreInput' name='genre' multiple>
              <option disabled selected value label='Add an option'></option>
              <option value='Action'>Action</option>
              <option value='Comedy'>Comedy</option>
              <option value='Crime'>Crime</option>
              <option value='Documentary'>Documentary</option>
              <option value='Drama'>Drama</option>
			  <option value='Family'>Family</option>
              <option value='Fantasy'>Fantasy</option>
              <option value='Historical'>Historical</option>
              <option value='Horror'>Horror</option>
              <option value='Musical'>Musical</option>
              <option value='Mystery'>Mystery</option>
              <option value='Reality Tv'>Reality TV</option>
              <option value='Romance'>Romance</option>
              <option value='Romantic Comedy'>Romantic Comedy</option>
              <option value='Science Fiction'>Science Fiction</option>
			  <option value='Sport'>Sport</option>
			  <option value='Superhero'>Superhero</option>
              <option value='Thriller'>Thriller</option>
			  <option value='War'>War</option>
              <option value='Western'>Western</option>
            </select>
          </div><br>
		  
		  <label for='personalRatingInput'>Personal rating: </label>
          <input type='text' name='personal_rating' id='personalRatingInput'>

		  <label for='synopsisInput'>Synopsis: </label>
          <input type='text' name='synopsis' id='synopsisInput'>
		  
		  <input type='submit' id='newMangaSubmit'>
        </form>
      </div>
    </main>
</body>
<script>
  const mangaForm = document.getElementById('newMangaForm')

  const mangaName = document.getElementById('mangaNameInput')
  const mangaAuthor = document.getElementById('authorInput')
  const mangaGenre = document.getElementById('genreInput')
  const mangaPersonalRating = document.getElementById('personalRatingInput')
  const mangaSynopsis = document.getElementById('synopsisInput')
  const submitMangaButton = document.getElementById('newMangaSubmit')

  const submitManga = async function(event) {
    event.preventDefault();
	
	mangaForm.innerHTML = 'Please wait'
	
	const man = mangaName.value
    const aut = mangaAuthor.value
    const gen = mangaGenre.value
    const per = mangaPersonalRating.value
    const syn = mangaSynopsis.value

    const manga = {
      mangaName: man,
      mangaAuthor: aut,
      genre: gen,
      rating: per,
      synopsis: syn
    }

    console.log(manga);

    const response = await fetch('/newManga', {
      method: 'POST',
        headers: {
          Accept: 'application/json',
          'Content-Type': 'application/json'
        },
      body: JSON.stringify(manga)
    })
    
    if (response.ok) {
      const result = await response.json()
      if (result.ok) {
        mangaForm.innerHTML = `Manga added successfully!`
        return
      }
    }
	
    mangaForm.innerHTML = 'Server error'
  }
  
  document.getElementById('newMangaSubmit').addEventListener('click', submitManga);
</script>
<%- include('../shared/footer.ejs') %>
