<%- include('../shared/header.ejs') %>
    <main>
      <h2>The Butterfly Interest List - Home Page</h2>
      <p>Welcome! Feel free to check out our about page to learn more about us.</p>
    </main>
<%- include('../shared/footer.ejs') %>
